@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
  color: #675bc8;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
